<p><%= link_to "Delete tag from recipe?", tag_path(@recipe.tags.delete(@tag)), :data => {:confirm => "You sure?", :method => "Delete"} %></p>

<p><%= link_to "Delete tag from server?", tag_path(@tag), :data => {:confirm => "You sure?", :method => "Delete"} %></p>

