<p><%= link_to "Delete tag from recipe?", recipe_tag_path(@recipe, @tag), :data => {:confirm => "You sure?", :method => "Delete"} %></p>

<p><%= link_to "Delete tag from server?", recipe_tag_path(@recipe, @tag), :data => {:confirm => "You sure?", :method => "Delete"} %></p>

